# =========================
# Build output
# =========================
build/
bin/
out/

# Build artifacts
*.o
*.exe
*.out
*.app

# Compiled C/C++ files
*.a
*.so
*.dylib
*.dSYM/
*.out
*.exe
*.app

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/